<div class="mobile__menu">
  <div class="mobile__menu-container">
    <button class="mobile__menu-close" type="button">
      <svg width="24" height="24" class="close-icon">
        <use href="./assets/icons/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <nav class="mobile__nav">
      <ul class="mobile__nav-list">
        <li><a class="mobile__nav-link current" href="">Studio</a></li>
        <li><a class="mobile__nav-link" href="">Portfolio</a></li>
        <li><a class="mobile__nav-link" href="">Contacts</a></li>
      </ul>
    </nav>

    <div class="mobile__bottom">
      <ul class="mobile__contacts">
        <li>
          <a class="mobile__contacts-link" href="tel:+110001111111">
            +11 (000) 111-11-11
          </a>
        </li>
        <li>
          <a
            class="mobile__contacts-link email"
            href="mailto:info@devstudio.com"
          >
            info@devstudio.com
          </a>
        </li>
      </ul>

      <ul class="mobile__socials">
        <li>
          <a href="" class="mobile__social-link">
            <svg class="mobile__social-icon" width="24" height="24">
              <use href="./assets/icons/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="mobile__social-link">
            <svg class="mobile__social-icon" width="24" height="24">
              <use href="./assets/icons/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="mobile__social-link">
            <svg class="mobile__social-icon" width="24" height="24">
              <use href="./assets/icons/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="mobile__social-link">
            <svg class="mobile__social-icon" width="24" height="24">
              <use href="./assets/icons/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
