<section class="section">
  <div class="container">
    <h2 class="portfolio__title">Our Portfolio</h2>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <img
          class="portfolio__img"
          src="./assets/img/banking-app.jpg"
          alt="Banking App"
          width="360"
          srcset="
            ./assets/img/banking-app.jpg    1x,
            ./assets/img/banking-app@2x.jpg 2x
          "
        />
        <div class="portfolio__content">
          <h3 class="portfolio__content-title">Banking App</h3>
          <p class="portfolio__content-subtitle">App</p>
        </div>
      </li>

      <li class="portfolio__item">
        <img
          class="portfolio__img"
          src="./assets/img/banking-app.jpg"
          alt="Banking App"
          width="360"
          srcset="
            ./assets/img/banking-app.jpg    1x,
            ./assets/img/banking-app@2x.jpg 2x
          "
        />
        <div class="portfolio__content">
          <h3 class="portfolio__content-title">Banking App</h3>
          <p class="portfolio__content-subtitle">App</p>
        </div>
      </li>

      <li class="portfolio__item">
        <img
          class="portfolio__img"
          src="./assets/img/banking-app.jpg"
          alt="Banking App"
          width="360"
          srcset="
            ./assets/img/banking-app.jpg    1x,
            ./assets/img/banking-app@2x.jpg 2x
          "
        />
        <div class="portfolio__content">
          <h3 class="portfolio__content-title">Banking App</h3>
          <p class="portfolio__content-subtitle">App</p>
        </div>
      </li>

      <li class="portfolio__item">
        <img
          class="portfolio__img"
          src="./assets/img/banking-app.jpg"
          alt="Banking App"
          width="360"
          srcset="
            ./assets/img/banking-app.jpg    1x,
            ./assets/img/banking-app@2x.jpg 2x
          "
        />
        <div class="portfolio__content">
          <h3 class="portfolio__content-title">Banking App</h3>
          <p class="portfolio__content-subtitle">App</p>
        </div>
      </li>
      <li class="portfolio__item">
        <img
          class="portfolio__img"
          src="./assets/img/banking-app.jpg"
          alt="Banking App"
          width="360"
          srcset="
            ./assets/img/banking-app.jpg    1x,
            ./assets/img/banking-app@2x.jpg 2x
          "
        />
        <div class="portfolio__content">
          <h3 class="portfolio__content-title">Banking App</h3>
          <p class="portfolio__content-subtitle">App</p>
        </div>
      </li>
      <li class="portfolio__item">
        <img
          class="portfolio__img"
          src="./assets/img/banking-app.jpg"
          alt="Banking App"
          width="360"
          srcset="
            ./assets/img/banking-app.jpg    1x,
            ./assets/img/banking-app@2x.jpg 2x
          "
        />
        <div class="portfolio__content">
          <h3 class="portfolio__content-title">Banking App</h3>
          <p class="portfolio__content-subtitle">App</p>
        </div>
      </li>
    </ul>
  </div>
</section>
