<section class="team section">
  <div class="container">
    <h2>Our Team</h2>
    <ul class="team__list">
      <li class="team__item">
        <img
          src="./assets/img/mark.jpg"
          alt="Mark Guerrero"
          width="264"
          srcset="./assets/img/mark.jpg 1x, ./assets/img/mark@2x.jpg 2x"
        />
        <div class="team__content">
          <h3 class="team__title">Mark Guerrero</h3>
          <p class="team__text">Product Designer</p>
          <ul class="team__social-list">
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          src="./assets/img/mark.jpg"
          alt="Mark Guerrero"
          width="264"
          srcset="./assets/img/mark.jpg 1x, ./assets/img/mark@2x.jpg 2x"
        />
        <div class="team__content">
          <h3 class="team__title">Mark Guerrero</h3>
          <p class="team__text">Product Designer</p>
          <ul class="team__social-list">
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          src="./assets/img/mark.jpg"
          alt="Mark Guerrero"
          width="264"
          srcset="./assets/img/mark.jpg 1x, ./assets/img/mark@2x.jpg 2x"
        />
        <div class="team__content">
          <h3 class="team__title">Mark Guerrero</h3>
          <p class="team__text">Product Designer</p>
          <ul class="team__social-list">
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team__item">
        <img
          src="./assets/img/mark.jpg"
          alt="Mark Guerrero"
          width="264"
          srcset="./assets/img/mark.jpg 1x, ./assets/img/mark@2x.jpg 2x"
        />
        <div class="team__content">
          <h3 class="team__title">Mark Guerrero</h3>
          <p class="team__text">Product Designer</p>
          <ul class="team__social-list">
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link">
                <svg class="social-icon" width="16" height="16">
                  <use href="./assets/icons/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
