body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
