/* tablet */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .burger_menu {
    display: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
  }
  .header__contacts-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
  }
  .header__contacts-link:hover,
  .header__contacts-link:focus {
    color: #404bbf;
  }

  .hero {
    width: 100%;
    margin: 0 auto;
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../img/hero-tablet.jpg");
  }

  .hero__title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }

  .features__list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }
  .features__item {
    width: calc((100% - 24px) / 2);
  }

  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    align-items: stretch;
  }

  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .portfolio__item {
    max-width: 100%;
    width: calc((100% - 24px) / 2);
  }

  .portfolio__img {
    transition: transform 0.3s ease;
  }

  .portfolio__img:hover {
    transform: scale(1.05);
  }

  .portfolio__content {
    padding: 32px 16px;
    border-right: 1px solid #e7e9fc;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
  }
  .portfolio__content-title {
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .portfolio__content-subtitle {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .section {
    padding: 120px 0;
  }

  .burger_menu {
    display: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .header__contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }
  .header__contacts-link {
    color: #434455;
    font-size: 16px;

    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
  }
  .header__contacts-link:hover,
  .header__contacts-link:focus {
    color: #404bbf;
  }
  .hero {
    width: 100%;
    margin: 0 auto;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../img/hero-desktop.jpg");
  }

  .hero__title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }
  .features__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }

  .features__item-title {
    padding-bottom: 8px;
    color: #2e2f42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .features__item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
  }
  .features__item {
    width: calc((100% - 72px) / 4);
  }
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    align-items: stretch;
  }
  .team__item {
    width: calc((100% - 72px) / 4);
  }
}
