/* tablet */
@media screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
  .container {
    max-width: 768px;
  }
  .burger_menu {
    display: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: auto;
  }
  .header__contacts-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
  }
  .header__contacts-link:hover,
  .header__contacts-link:focus {
    color: #404bbf;
  }

  .hero {
    width: 100%;
    margin: 0 auto;
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-tablet.jpg');
  }

  .hero__title {
    max-width: 496px;
    margin: 0 auto 36px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }

  .features__list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }
  .features__item {
    width: calc((100% - 24px) / 2);
  }

  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    align-items: stretch;
  }

  .portfolio__list {
    flex-direction: row;
    gap: 64px 24px;
  }

  .portfolio__item {
    max-width: 100%;
    width: calc((100% - 24px) / 2);
  }

  /* FOOTER */
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 108px;
    gap: 72px 24px;
    align-items: flex-start;
  }
  .footer__social-title {
    text-align: left;
  }
  .footer__logo {
    display: block;
    text-align: left;
  }
  .footer__subscribe {
    align-items: flex-start;
    width: 100%;
    max-width: 456px;
  }

  .footer__form {
    align-items: center;
    flex-direction: row;
    gap: 24px;
    width: auto;
    max-width: none;
  }
  .footer__input {
    padding-left: 16px;
    max-width: none;
    height: 40px;
    width: 264px;
  }
  .footer__btn {
    align-items: center;
    height: 40px;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .container {
    max-width: 1158px;
  }

  .burger_menu {
    display: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }

  .header__contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: auto;
  }
  .header__contacts-link {
    color: #434455;
    font-size: 16px;

    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
  }
  .header__contacts-link:hover,
  .header__contacts-link:focus {
    color: #404bbf;
  }

  .hero {
    max-width: 1440px;
    /* width: 100%; */
    margin: 0 auto;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-desktop.jpg');
  }

  .hero__title {
    max-width: 496px;
    margin: 0 auto 48px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }
  .features__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    height: 112px;
  }

  .features__item-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
  }
  .features__item-text {
    font-weight: 400;
    line-height: 24px;
  }

  .features__list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
  }
  .features__item {
    width: calc((100% - 72px) / 4);
  }
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
    align-items: stretch;
  }
  .team__item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 48px 24px;
  }

  .portfolio__item {
    max-width: 100%;
    width: calc((100% - 48px) / 3);
  }

  .portfolio__img {
    transition: transform 0.3s ease;
  }

  /* FOOTER */
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding-left: 0;
  }

  .footer__info {
    margin-right: 120px;
  }
  .footer__subscribe {
    margin-left: auto;
    width: auto;
  }
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 46, 66, 0.7), rgba(46, 46, 66, 0.7)),
      url('../img/hero-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 46, 66, 0.7)),
      url('../img/hero-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero-desktop@2x.jpg');
  }
}
