:root {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-block: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}
